body {
    background-color: rgb(35, 0, 35);
}

#clicks {
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    padding-top: 20px;
}


#copyright {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-color: white;
    border-style: solid;
}
#copyright li {
    float: left;
}
#copyright li a, #copyright li p {
    display: block;
    color: white;
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
}